<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us:</h2>
        <h3 class="section-subheading text-muted" style="color:white;">
	 If you like to sign up club activities or have quesitons, please fill the form to contact us. 
	</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

	    
	    <form method="POST" action="https://formspree.io/4hjccc@gmail.com">
<div class="form__input half">
  <label for="name">Name</label>
  <input type="text" name="Name" autocomplete="name" required>
</div>
<div class="form__input input half">
  <label for="email">Email</label>
  <input type="email" name="Email" autocomplete="email" required>
</div>
<div class="form__input">
  <label for="message">Message</label>
  <textarea type="text" name="Message" rows="7" autocomplete="message" required></textarea>
</div>
<button class="btn" type="submit">Send</button>
</form>
	    
      </div>
    </div>
  </div>
</section>
